/* Example Syntax

@width: 10px;
@height: @width + 10px;

#header {
  width: @width;
  height: @height;
}

.bordered {
    border-top: dotted 1px black;
    border-bottom: solid 2px black;
  }

  #menu a {
    color: #111;
    .bordered();
  }
  
  .post a {
    color: red;
    .bordered();
  }

  #header {
    color: black;
    .navigation {
      font-size: 12px;
    }
    .logo {
      width: 300px;
    }
  }

  .component {
    width: 300px;
    @media (min-width: 768px) {
      width: 600px;
      @media  (min-resolution: 192dpi) {
        background-image: url(/img/retina2x.png);
      }
    }
    @media (min-width: 1280px) {
      width: 800px;
    }
  }

  */
ul {
  background-color: #03A9F4;
  padding: 10px;
  list-style: none;
}
ul li {
  color: #fff;
  border-radius: 3px;
  margin: 10px 0;
}
p {
  background-color: #fffffa;
  color: #000000;
  padding: 15px;
}
ul {
  background-color: #fffffa;
}
li {
  color: #000000;
}
#small-circle {
  background-color: #4CAF50;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}
#big-circle {
  background-color: #4CAF50;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
